#A{
	margin: auto;
	text-align: center;
	width: 500px;
	height: 600px;
	background-color: black;
}
#B{
	height: 120px;
	background-color: red;
}
#C{
	height: 48px;
	background-color: lightgreen;
}

#D{
	height:360px;
	width: 375px;
	float: left;
	background-color: purple;
}

#E{
	height: 360px;
	width: 125px;
	float: right;
	background-color: lightblue;
}
#F{
	height: 72px;
	background-color: black;
	
}
